{if directory}{directory}{endif}{if git}{sep}{git}{endif}{if gsd_phase}{sep}{gsd_icon}{gsd_summary}{if gsd_task}{gsd_separator}{gsd_task_full}{endif}{if gsd_update} {gsd_update}{endif}{endif}{if context}{sep}{context}{endif}{if model}{sep}{model}{endif}{if cost}{sep}{cost}{endif}